<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>: : : Reset password : : :</title>
	<link rel="icon" href="{% static 'images/icon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'images/images.jfif' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'images/w3.css' %}">
    <link rel="stylesheet" href="{% static 'images/css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
      body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
      .myLink {display: none}
    </style>
</head>

<header>
	<div class="w3-bar w3-white w3-xlarge" style="position: static;font-variant: small-caps;">
	<button class="w3-button w3-red w3-top" onclick="window.location.href='http://localhost:8000/homepage/';">Bengal Travel and Tourism</button>
	</div>
</header>

<body class="w3-light-grey">
	<div class="w3-display-middle" style="width:750px; height: 500px">
	<fieldset>
	<legend>: : : Reset password : : :</legend><br>
		<form action="/resetpassword/" method="POST">
			{% csrf_token  %}
			<center>
				<input type="password" name="for_reset_pass1" id="id_for_reset_pass1" style="text-align: center;" placeholder="Enter new password" required><br><br>
				<input type="password" name="for_reset_pass2" id="id_for_reset_pass2" style="text-align: center;" placeholder="Confirm new password" required><br><br>
				<button type="submit">Submit</button>&nbsp;&nbsp;
				<button type="reset">Reset</button>
			</center>
		</form><br>
	</fieldset>
	</div>
</body>
</html>